SUPABASE_URL=https://ouwtsvbnzuvrsluggrwc.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im91d3RzdmJuenV2cnNsdWdncndjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE4Mzg4MjcsImV4cCI6MTk5NzQxNDgyN30.YSNrkYN8uH__zc-40aOeucy_2Hu2a6F5d6ogToLlMQI

DEBUG=1
SECRET_KEY="django-insecure-_wl+b3*h*adizuo_v64ozx(#h2e7smg*yx07f^a)!h5g#luzqm"
ALLOWED_HOST="*"
ENVIRONMENT=DEVELOPMENT
ENGINE=django.db.backends.mysql
NAME=mysql
USER=mysql
PASSWORD=mysql
HOST=
PORT=3306

